homeassistant/node-red/flows.json
[
    {
        "id": "b830b90bea98cc03",
        "type": "tab",
        "label": "Office",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2148d58697f3a13b",
        "type": "tab",
        "label": "Master Bedroom",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3b655143e886f252",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a03153d7f6409571",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a555277e9f8b300c",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "d5e77a0edb6ce4f4",
        "type": "api-call-service",
        "z": "b830b90bea98cc03",
        "name": "Turn ON office light",
        "server": "a555277e9f8b300c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "office"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "entity state",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b11368a6f692f159",
        "type": "server-state-changed",
        "z": "b830b90bea98cc03",
        "name": "Detect not motion in office f/1min",
        "server": "a555277e9f8b300c",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.lk_zb_motionsensor_d0003_iaszone",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "5",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 380,
        "wires": [
            [
                "9c3a4206fe8bae7c"
            ],
            [
                "4ee7b7f1e4b2a318"
            ]
        ]
    },
    {
        "id": "4ee7b7f1e4b2a318",
        "type": "time-range-switch",
        "z": "b830b90bea98cc03",
        "name": "Sunset to Sunrise",
        "lat": "39.68674903295115",
        "lon": "-84.09686833620073",
        "startTime": "goldenHour",
        "endTime": "goldenHourEnd",
        "startOffset": 0,
        "endOffset": 0,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "d5e77a0edb6ce4f4"
            ],
            []
        ]
    },
    {
        "id": "4c795070600c5b9d",
        "type": "api-call-service",
        "z": "b830b90bea98cc03",
        "name": "Turn OFF office light",
        "server": "a555277e9f8b300c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "office"
        ],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "entity state",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 700,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9c3a4206fe8bae7c",
        "type": "time-range-switch",
        "z": "b830b90bea98cc03",
        "name": "Sunset to Sunrise",
        "lat": "39.68674903295115",
        "lon": "-84.09686833620073",
        "startTime": "goldenHour",
        "endTime": "goldenHourEnd",
        "startOffset": 0,
        "endOffset": 0,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "4c795070600c5b9d"
            ],
            []
        ]
    },
    {
        "id": "4b60521720b602ba",
        "type": "api-call-service",
        "z": "2148d58697f3a13b",
        "name": "Turn ON MBR light",
        "server": "a555277e9f8b300c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.master_bedroom"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "entity state",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 670,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "71047996ad8009fe",
        "type": "server-state-changed",
        "z": "2148d58697f3a13b",
        "name": "Detect not motion in MBR f/1min",
        "server": "a555277e9f8b300c",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "binary_sensor.lk_zb_motionsensor_d0003_iaszone_2",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": "1",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 220,
        "wires": [
            [],
            [
                "41d3062697a5dc2c"
            ]
        ]
    },
    {
        "id": "41d3062697a5dc2c",
        "type": "time-range-switch",
        "z": "2148d58697f3a13b",
        "name": "Sunset to 2100",
        "lat": "39.68674903295115",
        "lon": "-84.09686833620073",
        "startTime": "goldenHour",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "4b60521720b602ba"
            ],
            []
        ]
    },
    {
        "id": "e54b147b2a7b4dd2",
        "type": "api-call-service",
        "z": "2148d58697f3a13b",
        "name": "Turn OFF office light",
        "server": "a555277e9f8b300c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.master_bedroom"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "entity state",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    }
]